.ex5 .parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    gap: 10px;
    /* Adds spacing between grid items */
}

.ex5 header,
.ex5 .footer {
    padding: 2rem;
    grid-column: 1 / 4;
    text-align: center;
    background-color: gray;
}

.ex5 .left-side {
    grid-column: 1 / 2;
    background-color: blue;
    color: white;
    padding: 1rem;
}

.ex5 main {
    grid-column: 2 / 3;
    background-color: coral;
    padding: 1rem;
}

.ex5 .right-side {
    grid-column: 3 / 4;
    background-color: yellow;
    padding: 1rem;
}

.ex5 .footer {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: green;
    color: white;
}