
:root {
    --primary-color: #07947c;
    --secondary-color: #6dabe9;
    --transparent-color: #FFFFFF;
}


* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    margin: 0;
}


h1 {
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 1rem;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    text-align: center;
}


header {
    background-color: var(--secondary-color);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 2rem;
    font-size: 40px;
}


#photo {
    display: grid;
    grid-template-columns: 1fr;
}

#photo img {
    justify-self: center;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}


#data,
#weather {
    text-align: center;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.data-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
}


footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.9rem;
}


#info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}