:root {
    --primary-color: #07947c;
    --secondary-color: #064789;
    --transparent-color: #FFFFFF;
}

* {
    font-family: 'Lato', sans-serif;
}

html {
    max-width: 1600px;
}

body {
    margin: 0;
    max-width: 1600px;
}

h1 {
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 1rem;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

#photo {
    display: grid;
    grid-template-columns: 1fr;

}

#photo img {
    justify-self: center;
    width: 100%;
    max-width: 980px;
}

#data,
#weather,
footer {
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#data,
#weather {
    padding: 1rem;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

footer {
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem;
    font-size: 20px;
}